---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../sections/Hero.astro';
import Principal from '../sections/Principal.astro';
import Footer from '../components/Footer.astro';
import WhatToSpect from '../sections/WhatToSpect.astro';
import Views from '../sections/Views.astro';
import Sponsor from '../sections/Sponsor.astro';
import SponsorRank from '../sections/SponsorRank.astro';
import Speaker from '../sections/Speaker.astro';
import ComunityFriends from '../sections/ComunityFriends.astro';
import Staff from '../sections/Staff.astro';
import Volunteers from '../sections/Volunteers.astro';
---

<Layout 
	title="Landing JS-Conf2024"
	description="Proyecto - landing de la JSConf2024 desarrollada por Juan Palma @jpalma76"
>
	<Header />	
	<main class="main-container">
		<div class="space-top"></div>
		<Hero />
		<Principal />
		<WhatToSpect />
		<Views />
		<Sponsor />
		<SponsorRank />
		<Speaker />
		<ComunityFriends />
		<Staff />
		<Volunteers />
		<Footer />
	</main>
</Layout>

<style>
	.space-top {
        width:100%;
        height: 80px;
    }
	.main-container {
		width: 80%;
		box-sizing: border-box;
		display: flex;
		flex-direction: column;
		align-items: center ;
		gap: 20px;
	}
	@media(max-width: 600px) {
		.main-container {
			width: 550px;
		}
		
	}
</style>