---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import Principal from '../components/Principal.astro';
import PrincipalDate from '../components/PrincipalDate.astro';
import Footer from '../components/Footer.astro';
import WhatToSpect from '../sections/WhatToSpect.astro';
---

<Layout 
	title="Landing JS-Conf2024"
	description="Proyecto - landing de la JSConf2024 desarrollada por Juan Palma @jpalma76"
>
	<Header />	
	<main class="w-[90%] md:w-[75%] min-h-screen gap-y-12 flex flex-col">
		<Hero />
		<Principal />
		<WhatToSpect />
		<Footer />
	</main>
	
</Layout>

<style>
	img {
		border: 1px solid #EDE060;
	}
</style>