---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
---

<Layout title="Landing JS-Conf2024.">
	<Header />	
	<main class="w-full h-screen">
		<Hero />
	</main>
	
	<footer>

	</footer>
</Layout>

<style>
	img {
		border: 1px solid #EDE060;
	}
</style>