---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import Principal from '../components/Principal.astro';
import PrincipalDate from '../sections/PrincipalDate.astro';
---

<Layout 
	title="Landing JS-Conf2024"
	description="Proyecto - landing de la JS-Conf 2024 desarrollada por Juan Palma @jpalma76"
>
	<Header />	
	<main class="w-[80%] min-h-[100vh] flex flex-col items-center mx-10">
		<Hero />
		<Principal />
		<PrincipalDate />
	</main>
	
</Layout>

<style>
	img {
		border: 1px solid #EDE060;
	}
</style>