---
import Moai from "./Moai.astro";
import VerticalBar from "./VerticalBar.astro";

---

<article class="w-auto md:w-[200px] md:max-h-[300px] flex flex-row md:flex-col items-center gap-0 md:gap-3 ">
    <VerticalBar class="vertical" />
    <div class="moai-container">
        <span class="circle"></span>
        <Moai class="moai size-10" alt="Moai cuadrado"/>
    </div>
    <VerticalBar class="vertical"/>
</article>

<style>
    .moai-container {
        position: relative;
        display: flex;
        z-index: 5;
        justify-content: center;
        align-items: center;
    }
    .moai {
        position: relative;
        z-index: 10;
        margin-top:18px;
    }
    .circle {
        background-color: yellow;
        margin-top:18px;
        margin-bottom: 40px;
        border-radius: 50%;
        box-shadow: 18px 18px 30px 17px rgb(226, 226, 24);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 10;
    }

    @media(max-width: 600px) {
        article {
            z-index: 0;
            margin-top: 150px;
        }
    }
</style>
