---
import Moai from "./Moai.astro";
import VerticalBar from "./VerticalBar.astro";

---

<article class="w-auto md:w-[200px] h-[300px] flex flex-row md:flex-col items-center gap-0 md:gap-3 ">
    <VerticalBar />
    <div class="moai-container">
        <span class="circle"></span>
        <Moai class="moai size-10"/>
    </div>
    <VerticalBar />
</article>

<style>
    .moai-container {
        position: relative;
        display: flex;
        z-index: 1;
        justify-content: center;
        align-items: center;
    }
    .moai {
        position: relative;
        z-index: 10;
        margin-top:18px;
    }
    .circle {
        background-color: yellow;
        margin-top:18px;
        margin-bottom: 40px;
        border-radius: 50%;
        box-shadow: 18px 18px 30px 17px rgb(226, 226, 24);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 10;
    }
</style>
