---

---

<footer class="footer">
    <h3 class="text-sm">
        Desarrollado por <span class="text-[#ede060]">@jpalma76</span>
    </h3>
</footer>

<style>
    .footer {
        width: 100%;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
    }
</style>
