---
import JsConfIco from './JsConfIco.astro';
import ArrowUp from './ArrowUp.astro';
---

<header class="w-full flex items-center h-24 justify-between px-16 mb-20 fixed bg-[#090907] z-20">
    <a href="/">
        <JsConfIco class='size-7'/>
    </a>
    <ul class='flex gap-6 items-center w-auto mx-0 text-md'>
        <li>Inicio</li>
        <li>Agenda</li>
        <li>Charlistas</li>
        <li>Sponsors</li>
        <li>¿Por qué?</li>
        <li>Ubicación</li>
        <li>Código de Conducta</li>
        <a 
            href="/"
            class="button-buy"
        >
            Comprar Tickets
            <svg width="16" height="16" viewBox="0 0 24 24" data-astro-cid-vnzlvqnm="" data-icon="ticket">  <symbol id="ai:local:ticket"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 7v2a3 3 0 1 1 0 6v2c0 1.1.9 2 2 2h14a2 2 0 0 0 2-2v-2a3 3 0 0 1 0-6V7a2 2 0 0 0-2-2H5a2 2 0 0 0-2 2m10-2v2m0 10v2m0-8v2"></path></symbol><use xlink:href="#ai:local:ticket"></use>  </svg>
        </a>
    </ul>
</header>

<style>
    li {
		padding: 0;
		width: auto;
	}
	li:hover {
		color: rgb(170, 161, 79);
		border-bottom: 1px solid rgb(170, 161, 79);
		transition: .3s;
	}
    .button-buy {
        display: flex;
        align-items: center;
        gap: 10px;
        padding: 8px 16px;
        border: 1px solid #c8bc4f;
        border-radius: 6px;
        font-weight: 600;
    }

    @media (max-width: 1200px) {
        li {
            display: none;
        }
    }

    @media(max-width: 600px) {
        header {
            width: 100%;
            justify-content: space-between;
        }
    }
</style>