---
import JsConfTitle from "./JsConfTitle.astro";
import Section from "./Section.astro";
import SectionButtons from "./SectionButtons.astro";
---
<Section>
    <div class="space-top"></div>
    <div
        id="principal-div"
        class="w-[100%] min-h-[500px] flex justify-evenly items-center"
    >
        <div id="left" class="flex flex-col w-[39%] h-[80%] px-5 gap-y-5">
            <JsConfTitle class="w-[230px] h-[150px]" />

            <p class="text-sm text-justify mb-5">
                Acompáñanos, en la segunda edición Chilena, de la más
                prestigiosa conferencia de JavaScript. 1 día de talleres, 2 días
                de Charlistas internacionales, comunidad, aprendizaje y
                conexiones, este 5, 6 y 7 de diciembre, 2024
            </p>

            <SectionButtons />
        </div>

        <div
            id="image-container"
            class="size-72 md:size-96 rounded-full mb-10"
        >
        <div class="mask-image"></div>
        </div>
    </div>
</Section>

<style>
    .space-top {
        width:100%;
        height: 85px;
    }
    #image-container {
        background-image: url('./images/torresDelPaine.png');
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        
    }
    .mask-image {
        width: 100%;
        z-index: 10;
        position: relative;
        background-image: radial-gradient(circle, black 80%, transparent);
    }

    @media (max-width: 600px) {
        #principal-div {
            display: flex;
            flex-direction: column;
            gap: 20px;
        }

        #left {
            width: 100%;
            gap: 10px;
            padding: 30px 50px;
        }

        #principal-div p {
           
        }
    }
</style>
