---
import TorresDelPaine from './images/TorresDelPaine.astro';
import JsConfTitle from './images/JsConfTitle.astro';
import SectionButtons from './SectionButtons.astro';
---
<section class="mt-36">
    <div id="hero" class="flex flex-col lg:flex-row w-[400px] md:max-w-[600px] h-auto gap-y-24 md:gap-x-24 items-center transition-all">
        <article class="flex flex-col min-w-[400px] w-[50%] gap-y-7">
            <JsConfTitle class="max-w-[337px] h-auto"/>
            <p class="font-xs max-w-[400px]">Acompáñanos, en la primera edición Chilena, de la más prestigiosa conferencia de JavaScript. 2 días de Charlistas internacionales, comunidad, aprendizaje y conexiones, este 03 y 04 de Febrero.</p>
            <SectionButtons />
        </article>
        <div class="max-w[500px] flex  items-center justify-center mx-[-50px]">
            <TorresDelPaine 
                class="size-96 rounded-full m-0" 
                alt="Torres  del Paine"
            />
        </div>
    </div>
</section>

<style>
    #hero {
        width: 100%;
        justify-content: center;
        margin: 0 auto;
    }
    p {
        width: 350px;
    }

    @media(max-width: 750px) {
        #hero {
            align-items: center;
            padding-left: 55px;
        }
    }
</style>
