---
import CardLeft from "./CardLeft.astro";
import Section from "./Section.astro";
---

<Section>
    <div class="flex flex-col md:flex-row items-center gap-20 justify-center min-h-[420px]">
        <CardLeft />
        <article class="max-w-[500px] p-16">
            <h2 class="text-3xl mb-5">Que es la JsConf</h2>
            <p class="text-justify">La JSConf es una <span class="text-[#ede060]">conferencia técnica única a nivel mundial</span> con una visión de mejorar la comunidad tecnológica, haciéndola más diversa y humana.</p>
            <p class="text-justify">Amplía tus conocimientos, conecta con otros, mantente informado, participa en debates y actualízate con las tendencias de JavaScript en nuestra conferencia única. ¡Optimiza ingresos y sé parte de algo grande!</p>
        </article>    
    </div>
</Section>

