---
---
<section class="section-container">
    <slot />
</section>

<style>
    .section-container {
        width: 100%;
        min-height: 550px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    @media(max-width: 800px) {
        .section-container {
            width: 100%;
            padding: 90px;
        }
    }
</style>