---
import Star from './Star.astro';
import Ticket from "./Ticket.astro";
---

<div class="w-full flex gap-x-7">
    <button class=" bg-yellow-300/70">
        Sponsor
        <Star class="size-4" />
    </button> 
    
    <button>
        Ticket
        <Ticket class="size-4" />
    </button> 
</div>

<style>
    button {
        padding: 8px 20px;
        border: 1px solid;
        display: flex;
        gap: 7px;
        align-items: center;
        transition: .4s;
        border-radius: 6px;
    }
    button:hover {
        background: #e3e3e3;
        color: #000;
        border: 1px solid #000;
    }
</style>