---
import JsConfTitle from "../components/JsConfTitle.astro";
import Section from "../components/Section.astro";
import SectionButtons from "../components/SectionButtons.astro";
import ImageContainer from "../components/ImageContainer.astro";
---
<Section>
    <div id="hero-container" class="principal-div">
        <div id="hero-left" class="left">
            
            <JsConfTitle class="w-[230px] h-[150px]" />

            <p class="text-sm text-justify mb-5">
                Acompáñanos, en la segunda edición Chilena, de la más
                prestigiosa conferencia de JavaScript. 1 día de talleres, 2 días
                de Charlistas internacionales, comunidad, aprendizaje y
                conexiones, este 5, 6 y 7 de diciembre, 2024
            </p>

            <SectionButtons />
        </div>

        <ImageContainer />
    </div>
</Section>

<style>
    .principal-div {
        width: 80%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 50px;
    }

    .left {
        width:400px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin-bottom: 65px;
    }

    @media (max-width: 800px) {
        .principal-div {
            display: flex;
            flex-direction: column;
            gap: 20px;
        }

        .left {
            width: 70%;
            gap: 10px;
            padding: 30px 50px;
            display:flex;
            flex-direction: column;
            justify-content: center;
        }

        #right {
            width: 80%;
        }

    }

    @media(max-width:400px) {
        #principal-div #left {
            width: 100%;
        }

        #principal-div #left p {
            text-align: left;
        }
    }
</style>
