---
import JsConfTitle from "../components/JsConfTitle.astro";
import Section from "../components/Section.astro";
import SectionButtons from "../components/SectionButtons.astro";
import ImageContainer from "../components/ImageContainer.astro";
---
<Section>
    <div class="hero-container">

        <div class="hero-left">
            <JsConfTitle class="w-[230px] h-[150px]" />

            <p class="min-w-[350px] text-sm text-justify mb-5">
                Acompáñanos, en la segunda edición Chilena, de la más
                prestigiosa conferencia de JavaScript. 1 día de talleres, 2 días
                de Charlistas internacionales, comunidad, aprendizaje y
                conexiones, este 5, 6 y 7 de diciembre, 2024
            </p>

            <SectionButtons />
        </div>

        <div class="hero-right">
            <ImageContainer />
        </div>
    </div>
</Section>

<style>
    .hero-container {
        width: 1200px;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 50px;
    }

    .hero-left {
        width:400px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin-bottom: 65px;
    }

    @media (max-width: 800px) {
        .hero-container {
            display: flex;
            flex-direction: column;
            gap: 20px;
        }

        .hero-left {
            width: 70%;
            gap: 10px;
            padding: 30px 50px;
            display:flex;
            flex-direction: column;
            justify-content: center;
        }

        .hero-right {
            width: 80%;
        }

    }

    @media(max-width:400px) {
        .hero-container .hero-left {
            width: 80%;
        }

        .hero.container .hero-left p {
            text-align: left;
        }
    }
</style>
