---
import CardLeft from "../components/CardLeft.astro";
import Section from "../components/Section.astro";
---

<Section>
    <div class="principal-container">
        <CardLeft />
        <div class="flex flex-col max-w-[600px] p-16 gap-y-5 text-center">
            <h2 class="text-3xl font-bold mb-2">Que es la JsConf</h2>
            <p class="text-justify ml-10">La JSConf es una <span class="text-[#ede060]">conferencia técnica única a nivel mundial</span> con una visión de mejorar la comunidad tecnológica, haciéndola más diversa y humana.</p>
            <p class="text-justify ml-10">Amplía tus conocimientos, conecta con otros, mantente informado, participa en debates y actualízate con las tendencias de JavaScript en nuestra conferencia única. ¡Optimiza ingresos y sé parte de algo grande!</p>
        </div>    
    </div>
</Section>

<style>
    .principal-container {
        width: 100%;
        display: flex;
        justify-content: center;
    }
</style>