<section
  class="animate-fade-in-up animate-delay-500 mt-24 mx-auto my-24 flex flex-col justify-center items-center text-center text-primary">
  <h2 class="uppercase text-2xl font-bold text-yellow-300/70">
    24 de Octubre <span class="hidden md:inline mx-1">·</span><br
      class="block md:hidden"
    />
    <span>
      <script is:inline>
        const END_DATE =  1729739220000
        const d = new Date(END_DATE)
        const date = d.toLocaleTimeString("es", {
          hour: "2-digit",
          minute: "2-digit",
        })

        // Get current timezone
        const tzOffset = (d.getTimezoneOffset()/60) * -1
        console.log(tzOffset);
        const gmt = `GMT${tzOffset}`

        const selfScript = document.currentScript;
        selfScript.parentNode.innerHTML = `${date}H ${gmt}`;
      </script>
    </span>
  </h2>

  <h3 class="uppercase text-xl font-semibold flex flex-col mt-6">
    <span>Esta es la fecha de mi cumpleaños</span>
    <span>Pasen por mis RRSS y dejen su saludito, los quiero.</span>
    <span>En mi casa, Peñaflor(Chile)</span>
  </h3>
  
  <a
    class={`
      border-primary border-2 
      font-semibold 
      uppercase
      rounded-md 
      text-lg
      px-4 py-1 mt-8
      transition
      hover:bg-slate-300 hover:scale-110 inline-flex
    `}
    href="#"
    target="_blank"
    rel="noopener noreferrer"
  >
    Gracias por ver
  </a>
</section>
