---
import Section from "../components/Section.astro";

---

<Section>
    <div class="sponsor-container">
        <h1 class="title-sponsor uppercase">Nuestros Charlistas</h1>
        <div class="presentation">Únete a la primera edición de la más prestigiosa conferencia de JavaScript con exponentes nacionales e internacionales</div>
    </div>
</Section>

<style>
    .sponsor-container {
        width: 80%;
        min-height: 500px;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-content: center;
    }
    .title-sponsor {
        font-size: 36px;
        font-weight: 600;
        margin-bottom: 30px;
    }
    .presentation {
        width: 600px;
    }
</style>