---
import Section from "../components/Section.astro";
import { Image } from "astro:assets";
import Volcan from '../assets/volcan-info-sponsors.webp';
import Star from "../components/Star.astro";
import PlatinumSponsor from "../components/Platinum-sponsor.astro";
import Heroku from "../components/Heroku.astro";
import GoogleCloud from "../assets/Google-Cloud.webp";
---
<Section>
    <div class="sponsor-container">
        
        <Image src={Volcan} alt="Volcan" />

        <div class="sponsor-description">
            <h3>Nuestros Sponsors</h3>
            
            <p>Asóciate con JSConf Chile como patrocinador y posiciona tu marca en la vanguardia de la industria tecnológica. Esta oportunidad única te permite conectar con líderes de pensamiento, ganar una exposición significativa y contribuir al crecimiento de la comunidad tecnológica. Tu apoyo ayuda a fomentar la innovación y conectar con una audiencia diversa.</p>
            
            <button class="button-sponsor">
                Quiero ser Sponsor
                <Star class="size-4 text-black" />
            </button>

        </div>

        <div class="sponsor-classification">
            <PlatinumSponsor />
            <Heroku class="w-[430px]"/>
            <Image class="w-[350px]" src={GoogleCloud} alt="Google Cloud" />
        </div>

    </div>
</Section>

<style>
    .sponsor-container {
        width: 1200px;
        height: 410px;
        border-radius: 25px;
        display: flex;
        align-items: center;
        padding: 30px 40px;
        gap: 30px;
        
    }

    .sponsor-description {
        width:400px;
        height: 388px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 20px;
        margin-right: 10px;
    }

    .sponsor-description h3 {
        font-size: 1.8rem;
        font-weight: 450;
    }

    .sponsor-description p {
        font-size: 16px;
    }

    .button-sponsor {
        width: 210px;
        padding: 10px 15px;
        font-weight: 500;
        border: 1px solid black;
        border-radius: 8px;
        background-color: white;
        color: black;
        font-weight: 600;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 7px;
    }

    .button-sponsor:hover {
        background-color: #efe060;
    }

    .sponsor-classification {
        width: 546px;
        height: 360px;
        border: 1px solid;
        border-radius: 25px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        background-image: linear-gradient(135deg, #111 30%,#313030 100%);
    }

    .sponsor-classification h3 {
        font-size: 1.8rem;
    }
</style>