---
import Section from "../components/Section.astro";

---
<Section>
    <div class="sponsor-container">

    </div>
</Section>

<style>
    .sponsor-container {
        background-color: blueviolet;
        width: 1000px;
        height: 400px;
    }
</style>