---
import { Image } from 'astro:assets';
import presencial from '../assets/presencial.png';
import online from '../assets/online.png';
---

<div class="views-container">

    <div class="view-online">
        <Image class="image-presencial" src={online} alt="presencial" />
        <article class="info-view-container">
            <h3>En Línea</h3>
            <p>Desde la comodidad de tu sillón, chatea con diferentes salas con otros Devs.</p>
        </article>
    </div>

    <div class="view-presential">
        <Image class="image-presencial" src={presencial} alt="presencial" />

        <article class="info-view-container">
            <h3>Presencial</h3>
            <p>Conecta con exponentes y Devs estelares, obtén stickers, poleras y Swag oficial de la JSConf y encuentra tu próxima empresa</p>
        </article>
    </div>
</div>

<style>
    .views-container {
        width: 100%;
        height: 500px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 40px;
    }
    .views-container div {
        width: 480px;
        height: 380px;
        border-radius: 25px;
        border: 1px solid #ede060;
        box-sizing: border-box;
    }
    
    /* .view-online {

    } */
    .image-presencial, .image-online {
        width: 485px;
        height: 200px;
        border-radius: 30px 30px 0 0;
        mask-image: linear-gradient(
            black 80%,
            transparent
        );
    }
   /*  .view-presential {
        
    } */

    .info-view-container {
        width: 100%;
        height: 190px;
        padding: 40px 60px;
    }

    .info-view-container h3 {
        font-size: 1.5rem;
        font-weight: bold;
        margin-bottom: 8px;
    }

    @media(max-width: 700px) {
        .views-container {
            flex-direction: column;
        }
    }
</style>