---
import BranchEvent from "../components/BranchEvent.astro";
import Section from "../components/Section.astro";
---

<Section>
    <!-- contedor de gradiente -->
    <div
        class="spect-gradient"
    >
        <div
            class="spect-content h-[400px] gap-x-[3%] bg-[#090907]"
        >
            <div class="left">
                <h1 class="w-[400px] font-extrabold uppercase">Que esperar del evento?</h1>
                <p class="w-[500px]">
                    Tendremos preparadas muchas actividades programadas y un ambiente solo para tí, no necesitarás saber inglés, contaremos con intérpretes para que no te pierdas ningún detalle de tu expositor favorito.
                </p>
            </div>

            <div class="right">
                <BranchEvent id="image-branch" class="mt-14" />
                <ul>
                    <li>Workshop dentro del mismo recinto </li>
                    <li>Áreas de descanso</li>
                    <li>Swag bag con temática de la JSConf Chile 2024</li>
                    <li>Código de conducta</li>
                    <li>Coffee Break los días del evento</li>
                </ul>
            </div>
        </div>
    </div>
</Section>

<style>
    .spect-gradient {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 90%;
        min-height: 450px;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        border-radius: 20px;
        background-image: linear-gradient(45deg,#090907 0%,#b0b843 100%)
    }

    .spect-content {
        width: 99.7%;
        height: 99%;
        display: flex;
        justify-content: center;
        padding: 1rem 5rem;
        border-radius: 20px;
    }

    .spect-content div {
        min-height: 350px;
        gap: 10px;
    }

    .left {
        width: 550px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 2rem;
        padding: 10px;
    }

    .left h1 {
        width: 400px;
        font-size: 3rem;
        font-weight: 800;
        letter-spacing: 2px;
        word-spacing: 6px;
        line-height: 1.1;
    }

    .left p {
        width: 500px;
        font-size: 16px;
        line-height: 1.5;
        font-weight: 500;
    }

    .right {
        width: 500px;
        display: flex;
        align-items: center;
        gap: 30px;
    }
    
    .right ul {
        margin-top: 190px;        
        display: flex;
        flex-direction: column;
        height: 100%;
        gap: 33px;
    }

    .right ul li {
        text-align: left;
        font-size: 16px;
        font-weight:500;
    }

    @media(max-width: 1440px) {
        .spect-content {
            flex-direction: column;
            width: 99%;
            text-align: center;
            align-items: center;
        }
        .spect-content .left h1 {
            width: 100%;
            font-size: 36px;
        }
    }

    @media(max-width: 840px) {
        .spect-content {
            padding: 30px 40px;
        }
        .spect-content .left h1 {
            width: 100%;
            font-size: 24px;
        }
        .spect-content .left p {
            width: 400px;
            margin: 0 auto;
        }
        #image-branch {
            margin-left: 10%;
        }
    }

    @media(max-width: 600px) {
        .spect-content .left h1 {
            font-size: 19px;    
        }
        .spect-content .left p {
            width: 290px;
            font-size: 14px;
            text-align: justify;
        }
    }
</style>
