---
import BranchEvent from "../components/BranchEvent.astro";
import Section from "../components/Section.astro";
---

<Section>
    <div class="spect-gradient">
        <div class="spect-content">
            <div class="left">
                <h1 class="w-[400px] font-extrabold uppercase">Que esperar del evento?</h1>
                <p class="presentation">
                    Tendremos preparadas muchas actividades programadas y un ambiente solo para tí, no necesitarás saber inglés, contaremos con intérpretes para que no te pierdas ningún detalle de tu expositor favorito.
                </p>
            </div>

            <div class="right pt-8">
                <BranchEvent id="image-branch" />
                <div>
                    <p class="mb-7">Workshop dentro del mismo recinto </p>
                    <p class="mb-8">Áreas de descanso</p>
                    <p class="mb-8">Swag bag con temática de la JSConf Chile 2024</p>
                    <p class="mb-8 underline text-yellow-400/80">Código de conducta</p>
                    <p class="">Coffee Break los días del evento</p>
                </div>
            </div>
        </div>
    </div>
</Section>

<style>
    .spect-gradient {
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 77vw;
        min-height: 30vw;
        border-radius: 36px;
        background-image: linear-gradient(45deg,#3d3d2d 10%,#d4d114 100%);
        padding: 2.5px;
        margin: auto;
    }

    .spect-content {
        width: 77vw;
        min-height: 30vh;
        background-color: #090907;
        display: flex;
        justify-content: center;
        padding: 1rem 5rem;
        border-radius: 36px;
        margin: 0;
        gap: 40px;
    }

    .spect-content div {
        min-height: 350px;
        gap: 10px;
    }

    .left {
        width: 500px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .left h1 {
        width: 400px;
        font-size: 3rem;
        font-weight: 800;
        letter-spacing: 2px;
        word-spacing: 6px;
        line-height: 1.1;
        margin-bottom: 20px;
    }

    .left .presentation {
        width: 450px;
        font-size: 16px;
        line-height: 1.5;
        font-weight: 500;
    }

    .right {
        width: 500px;
        height: auto;
        margin-bottom: 20px;
        display: flex;
        gap: 20px;
    }
    
    .right div {
        margin-top: 40px;
    }

    .right div p {
        text-align: left;
        width: auto;
        font-size: 16px;
        font-weight:600;
    }

    @media(max-width: 1250px) {
        .spect-content {
            flex-direction: column;
            width: 99%;
            text-align: center;
            align-items: center;
        }
        .spect-content .left h1 {
            width: 100%;
            font-size: 36px;
        }
    }

    @media(max-width: 840px) {
        .spect-content {
            padding: 30px 40px;
        }

        .spect-content .left h1 {
            max-width: 70%;
            font-size: 24px;
        }
        .spect-content .left p {
            max-width: 300px;
            margin: 0 auto;
        }
        #image-branch {
            margin-left: 10%;
        }
    }

    @media(max-width: 600px) {
        .spect-content .left h1 {
            font-size: 19px;    
        }
        .spect-content .left p {
            width: 290px;
            font-size: 14px;
            text-align: justify;
        }
    }
</style>
