---
interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;
// Supports weights 100-900
import "@fontsource-variable/jost";
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/jsConf.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
			rel="stylesheet"
		/>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	body {
		font-family: Verdana, Geneva, Tahoma, sans-serif;
		background: #090907;
		color: #fff;
		width: 100%;
		min-height: 100dvh;
		box-sizing: border-box;
		margin: 0;
		padding: 0;
		display: flex;
		justify-content: center;
	}

</style>
